---
layout: page
title: Home
---
<section class="list">
    <p>
        Hi there, I'm Manraj Singh! I'm a Research Assistant at IIIT Delhi, India under <a href="https://www.iiitd.ac.in/rajivratn" target="_blank" class="link">Dr. Rajiv Ratn Shah</a>, building automated systems in education domain. I graduated from University of Delhi in 2016 with a Bachelor's in Instrumentation and Control where my thesis advisor was <a href="http://www.nsit.ac.in/faculty/prg/" target="_blank" class="link">Dr. Prerna Gaur</a> and <a href="http://www.nsit.ac.in/faculty/ums/" target="_blank" class="link">Dr. Umang Soni</a>. Over the last few years, I've had the opportunity with amazing teams at <a href="http://midas.iiitd.edu.in/" target="_blank" class="link">MIDAS Lab</a>, <a href="https://github.com/tensorflow/tfjs" target="_blank" class="link">TensorFlow</a> and <a href="https://practo.com/" target="_blank" class="link">Practo</a>.
    </p>
</section>

<section class="list">
    <h1>Open Source</h1>

    {% for project in site.data.opensource %}
    <div class="item">
        <a class="url" href="{{ project.url }}" target="_blank">
            {% if project.stars %}
            <aside>
                {{ project.stars }} <i class="fa fa-star"></i>
            </aside>
            {% endif %}
            <h3 class="title">
                {{ project.title }}
            </h3>
        </a>
    </div>
    {% endfor %}
</section>


<section class="list">
    <h1>Publications</h1>

    {% for data in site.data.publications %}
    <p><strong>{{ data.year }}</strong><br></p>
    
    {% for paper in data.papers %}
    
    <h3 class="title">{{ paper.title }}</h3>
    <p>{{ paper.authors }} <br/> <em>{{ paper.publication }}</em></p>
    <div class="page-tags">
        {% if paper.url %}
        <a class="item" href="{{ paper.url }}" target="_blank">PDF</a>
        {% endif %}

        {% if paper.code %}
        <a class="item" href="{{ paper.code }}" target="_blank">Code</a>
        {% endif %}

        {% if paper.blog %}
        <a class="item" href="{{ paper.blog }}" target="_blank">Blog</a>
        {% endif %}

        {% if paper.slides %}
        <a class="item" href="{{ paper.slides }}" target="_blank">Slides</a>
        {% endif %}

        {% if paper.poster %}
        <a class="item" href="{{ paper.poster }}" target="_blank">Poster</a>
        {% endif %}
    </div>
    
    {% endfor %}

    {% if forloop.last == false %}
    <hr>
    {% endif %}
    
    {% endfor %}
</section>
