---
layout: page
title: Home
---
<section class="list">
    <p>
        Greetings! I'm Manraj Singh, currently serving as a Software Engineer at <a href="https://media.net" target="_blank" class="link">Media.net</a>. My primary work focus lies in crafting sophisticated traffic throttling systems infused with intelligence. I earned my Bachelor's degree in Instrumentation and Control from the University of Delhi in 2016. Throughout my career journey, I've had the privilege of collaborating with exceptional teams at <a href="http://midas.iiitd.edu.in/" target="_blank" class="link">MIDAS Lab</a>, <a href="https://github.com/tensorflow/tfjs" target="_blank" class="link">TensorFlow</a>, and <a href="https://practo.com/" target="_blank" class="link">Practo</a>, honing my skills and expertise along the way. Feel free to reach out to me for any further details or inquiries.
    </p>
</section>

<section class="list">
    <h1>Open Source</h1>

    {% for project in site.data.opensource %}
    <div class="item">
        <a class="url" href="{{ project.url }}" target="_blank">
            {% if project.stars %}
            <aside>
                {{ project.stars }} <i class="fa fa-star"></i>
            </aside>
            {% endif %}
            <h3 class="title">
                {{ project.title }}
            </h3>
        </a>
    </div>
    {% endfor %}
</section>


<section class="list">
    <h1>Publications</h1>

    {% for data in site.data.publications %}
    <p><strong>{{ data.year }}</strong><br></p>
    
    {% for paper in data.papers %}
    
    <h3 class="title">{{ paper.title }}</h3>
    <p>{{ paper.authors }} <br/> <em>{{ paper.publication }}</em></p>
    <div class="page-tags">
        {% if paper.url %}
        <a class="item" href="{{ paper.url }}" target="_blank">PDF</a>
        {% endif %}

        {% if paper.code %}
        <a class="item" href="{{ paper.code }}" target="_blank">Code</a>
        {% endif %}

        {% if paper.blog %}
        <a class="item" href="{{ paper.blog }}" target="_blank">Blog</a>
        {% endif %}

        {% if paper.slides %}
        <a class="item" href="{{ paper.slides }}" target="_blank">Slides</a>
        {% endif %}

        {% if paper.poster %}
        <a class="item" href="{{ paper.poster }}" target="_blank">Poster</a>
        {% endif %}
    </div>
    
    {% endfor %}

    {% if forloop.last == false %}
    <hr>
    {% endif %}
    
    {% endfor %}
</section>
