<link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/assets/images/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" href="{{ site.url }}/assets/images/favicon/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="{{ site.url }}/assets/images/favicon/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="{{ site.url }}/assets/images/favicon/favicon-32x32.png" sizes="32x32" />
<link rel="icon" href="{{ site.url }}/assets/images/favicon/favicon.ico" type="image/x-icon">
<meta name="application-name" content="{{ site.name }}"/>
